.nav-bar {
  background-color: #003B44;
  padding: 3rem 2rem;
}

.logo {
  color: white;
  padding-top: 7px;
  cursor: pointer;
}

.login-button {
  height: 55px;
  width: 150px;
  color: black;
  background-color: white;
  border-radius: 4px;
}

::ng-deep .nav-form-field {
  height: 55px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  .mat-icon {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .mat-mdc-notch-piece {
    border: none;
  }

  .mat-mdc-input-element {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .mat-mdc-form-field-infix {
    display: flex;
    padding: 0px !important;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}

.avatar {
  border-radius: 50%;
}

.profile-container {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 5rem;
  right: 1rem;
  background: white;
  color: #003B44;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 9rem;

  .text {
    font-size: 14px;
  }

  .subtext {
    font-size: 13px;
  }

  .name {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  hr {
    border: none;
    height: 1px;
    background-color: rgba(230, 230, 230, 1);
  }
}