<mat-toolbar class="nav-bar" fxLayout="row" fxLayoutAlign="space-between center">
  <app-svg-icon class="logo" [src]="logoPath" [height]="'35px'" routerLink="/"></app-svg-icon>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <mat-form-field appearance="outline" class="nav-form-field">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search gists...">
    </mat-form-field>
    @if (!user) {
    <button mat-button class="login-button" (click)="loginWithGitHub()">Login</button>
    }
    @if (user) {
    <div #profileContainer class="profile-container" (click)="toggleDropdown()">
      <img class="avatar" [src]="user.photoURL" alt="user avatar" height="55" width="55">
      @if (dropdownOpen) {
      <div class="dropdown">
        <div class="subtext">Signed in as</div>
        @if (user.displayName) {
        <div class="name">{{ user.displayName }}</div>
        } @else {
        <div class="name">{{ user.email }}</div>
        }
        <hr>
        <div class="text">
          <div routerLink="create-gist">Create a gist</div>
          <hr>
          <div (click)="openYourGists()">Your gists</div>
          <div routerLink="starred-gists">Starred gists</div>
          <div (click)="openGitHubProfile()">Your Github profile</div>
          <hr>
          <div (click)="openSupportPage()">Help</div>
          <div (click)="logout()">Sign out</div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</mat-toolbar>