.gist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-item {
  border-radius: 4px;
  border: 1px solid rgba(239, 239, 239, 1);
}

.code-editor {
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 225px;
}

.mat-mdc-paginator {
  border: none;
  background-color: transparent;
  color: rgba(61, 61, 61, 1);
}