<div class="gist-grid">
  @for (item of pagedGists; track item.id) {
  <div class="grid-item" fxLayout="column" (click)="openGist(item)">
    <div class="code-editor">
      <app-gist-code [file]="getFirstFile(item.files)" [editorOptions]="editorOptions"></app-gist-code>
    </div>
    <app-owner-info [item]="item" [fileNameWidth]="'small'" ></app-owner-info>
  </div>
  }
</div>

<mat-paginator [length]="gists.length" [pageSize]="6" [pageSizeOptions]="[6]" (page)="onPageChange($event)">
</mat-paginator>