<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
        <img class="avatar" [src]="item.owner.avatar_url" alt="user avatar" height="40" width="40">
        <div>
          {{item.owner.login}}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notebook">
    <mat-header-cell *matHeaderCellDef>Filename</mat-header-cell>
    <mat-cell class="filename" *matCellDef="let item">{{ getFileName(item.files) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fileCount">
    <mat-header-cell *matHeaderCellDef>File Count</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <div class="file-count">
        {{ getFileCount(item) }}
      </div>
    </mat-cell>

  </ng-container>

  <ng-container matColumnDef="updatedAt">
    <mat-header-cell *matHeaderCellDef>Updated At</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ timeSince(item.updated_at) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item" class="actions">
      @if(isLoggedIn) {
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
        <app-svg-icon class="action-icon" [src]="forkIconPath" [height]="'24px'" [width]="'24px'"
          (click)="forkGist($event, item.id, item.owner.login)"></app-svg-icon>
        <app-svg-icon class="action-icon" [src]="starredGists[item.id] ? starFilledIconPath : starIconPath"
          [height]="'24px'" [width]="'24px'"
          (click)="starredGists[item.id] ? unstarGist($event, item.id) : starGist($event, item.id)"></app-svg-icon>
      </div>
      }
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openGist(row)"></mat-row>

</table>

<mat-paginator [pageSizeOptions]="[8]" showFirstLastButtons></mat-paginator>