<div class="gist-info" fxLayout="row" fxLayoutGap="1rem">
  <div>
    <img class="avatar" [src]="item.owner.avatar_url" alt="user avatar" height="40" width="40">
  </div>
  <div fxLayout="column" fxLayoutGap="0.25rem">
    <div fxLayout="row" fxLayoutAlign="baseline center" fxLayoutGap="0.25rem">
      <div class="owner-name">{{ item.owner.login }}</div>
      <div class="file-name">{{ " / " + getFileName(item.files) }}</div>
    </div>
    <div class="gist-time">{{ timeSince(item.updated_at) }}</div>
    <div class="gist-description">{{ item.description }}</div>
  </div>
</div>