<section id="public-gists">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1rem">
    <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="heading">Public Gists</h1>
      <mat-button-toggle-group [hideSingleSelectionIndicator]="true" (change)="onToggleChange($event)" [value]="'list'">
        <mat-button-toggle value="grid" [ngClass]="layout === 'grid' ? 'toggle-checked' : 'toggle-unchecked'">
          <app-svg-icon class="toggle-icon" [src]="gridIconPath" [height]="'20px'"></app-svg-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list" [ngClass]="layout === 'list' ? 'toggle-checked' : 'toggle-unchecked'">
          <app-svg-icon class="toggle-icon" [src]="listIconPath" [height]="'24px'"></app-svg-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
      @if (layout === "list" && gists && gists.length) {
      <app-gist-table class="w-100" [gists]="gists"></app-gist-table>
      }
    </div>
  </div>
</section>