<section id="public-gists">
  <div fxFlex="column" fxLayoutAlign="center start">
    <div fxFlex="row" fxLayoutAlign="space-between center">
      <h1 class="heading">Public Gists</h1>
      <mat-button-toggle-group [hideSingleSelectionIndicator]="true" (change)="onToggleChange($event)" [value]="'list'">
        <mat-button-toggle value="grid" [ngClass]="layout === 'grid' ? 'toggle-checked' : 'toggle-unchecked'">
          <app-svg-icon class="toggle-icon" [src]="gridIconPath" [height]="'20px'"></app-svg-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list" [ngClass]="layout === 'list' ? 'toggle-checked' : 'toggle-unchecked'">
          <app-svg-icon class="toggle-icon" [src]="listIconPath" [height]="'24px'"></app-svg-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <!-- TABLE OR LIST OF GISTS -->
    </div>
  </div>
</section>