#public-gists {
  height: 100%;
  margin: 1rem 10rem;
}

.heading {
  font-weight: 400;
  font-size: 25px;
  line-height: 30.26px;
}

.mat-button-toggle-group {
  border: 1px solid #E3E3E3 !important;
  border-radius: 4px !important;

  .mat-button-toggle {
    border-left: none !important;
  }

  .mat-button-toggle-checked {
    background-color: #E3E3E3 !important;
  }
}

.toggle-icon {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.5rem;
}

.toggle-unchecked {
  color: #B7B7B7;
}

.toggle-checked {
  color: #003B44;
}

.w-100 {
  width: 100%;
}